#main
{
    text-align: center;
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    display: block;
}

#title
{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#image
{
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-div
{
    background-color: #fff;
    width: 95%;
    margin: auto;
    padding: 10px;
}

#img-caption
{
    font-size: 17.5px;
}

#tribute-info
{
    line-height: 5rem;
    font-size: 20px;
}

.timeline
{
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
    font-size: 17.5px;
}

li
{
    line-height: 30px;
    margin-bottom: 10px;
}

.statement
{
    text-align: left;
    max-width: 550px;
    margin: 40px auto;
    font-size: 17.5px;
    line-height: 25px;
}

h2
{
    font-size: 20px;
}